// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
  
}


window.Dock {
  background: transparent;
}

.dock-box {
  background: #{"alpha(@theme_bg_color, 0.85)"};
  padding: 10px 14px;
  margin: 5px;
  border-radius: 18px;
}

.dock-item {
  background: transparent;
  border-radius: 12px;
  padding: 6px;
}

.dock-item:hover {
  background: #{"alpha(@theme_fg_color, 0.12)"};
}

.dock-item:active {
  background: #{"alpha(@theme_fg_color, 0.25)"};
}
