* {
  border: none;
  border-radius: 14px;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: rgba(20, 20, 20, 0.55);
  color: #eaeaea;
  margin: 5px 10px 0 10px; /* arriba, derecha, abajo, izquierda */
}

/* GENERAL MODULE STYLE */
#workspaces,
#clock,
#cpu,
#memory,
#pulseaudio,
#network,
#battery,
#custom-caps-lock,
#backlight,
#custom-launcher,
#custom-cava,
#mpris,
#tray {
  padding: 3px 8px;
  margin: 3px 2px;
  background: rgba(255, 255, 255, 0.187);
}

/* WORKSPACES */
#workspaces button {
  padding: 4px 8px;
  margin: 0 2px;
  color: #aaaaaa;
  background: transparent;
}

#workspaces button.active {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.18);
}

#workspaces button.urgent {
  color: #ff5555;
}

/* CLOCK */
#clock {
  font-weight: bold;
}

/* AUDIO */
#pulseaudio.muted {
  color: #aaaaaa;
}

/* BATTERY */
#battery.charging {
  color: #7dd87d;
}

#battery.critical {
  color: #ff5555;
}

/* TRAY */
#tray {
  padding-right: 10px;
}


/* CAPS LOCK */
#custom-caps-lock.caps-on {
  color: #ff5555;
  background: rgba(255, 85, 85, 0.15);
  font-weight: bold;
}

#custom-caps-lock.caps-off {
  color: transparent;
  background: transparent;
}

#custom-power {
  padding: 3px 8px;
  margin: 3px 2px;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.187);
}

#custom-launcher {
  margin-left: 5px;
}

#mpris.stopped {
  /* Estilo cuando está detenido (a veces puede ocultarse) */
  background: transparent;
  color: transparent;
}

#mpris.spotify {
  color: #1ed760;
  background: rgba(30, 215, 96, 0.15);
}
